In [1]:
import pandas as pd

In [2]:
def get_wx_stats():
    weather_stats = pd.read_csv(
        "C:/Users/Jason/Documents/_Projects/2020-10 weather web app/weather_stats - Copy.csv")
    weather_stats['last_date'] = pd.to_datetime(weather_stats.last_date)
    # weather_stats.set_index("month-day", inplace=True)
    # print(weather_stats.info())
    return weather_stats

In [3]:
stats = get_wx_stats()

In [4]:
stats

,month-day,last_date,record_min_temp,avg_min_temp,avg_max_temp,record_max_temp,stats_count
0,01-01,2020-01-01,-35.6,-15.543796,-3.419708,11.7,137
1,01-02,2020-01-02,-37.2,-15.127206,-2.793382,12.2,136
2,01-03,2019-01-03,-37.2,-14.892593,-3.048148,12.2,135
3,01-04,2020-01-04,-35.6,-15.058824,-3.687500,15.3,136
4,01-05,2020-01-05,-37.8,-15.530147,-4.096324,12.1,136
...,...,...,...,...,...,...,...
361,12-27,2019-12-27,-36.1,-13.981752,-2.229197,19.5,137
362,12-28,2019-12-28,-38.9,-13.921168,-2.927737,16.9,137
363,12-29,2019-12-29,-38.1,-14.408824,-2.900735,16.1,136
364,12-30,2019-12-30,-37.2,-15.527206,-4.697059,10.6,136
365,12-31,2019-12-31,-35.6,-15.825185,-4.302963,13.3,135

In [5]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   month-day        366 non-null    object
 1   last_date        366 non-null    datetime64[ns]
 2   record_min_temp  366 non-null    float64
 3   avg_min_temp     366 non-null    float64
 4   avg_max_temp     366 non-null    float64
 5   record_max_temp  366 non-null    float64
 6   stats_count      366 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 20.1+ KB

In [7]:
stats.to_csv("C:/Users/Jason/Documents/_Projects/2020-10 weather web app/weather_stats - test.csv", index=False)