In [68]:
import pandas as pd
import numpy as np
from math import isnan

In [2]:
def get_wx_stats():
    weather_stats = pd.read_csv(
        "C:/Users/Jason/Documents/_Projects/2020-10 weather web app/weather_stats - Copy.csv")
    weather_stats['last_date'] = pd.to_datetime(weather_stats.last_date)
    # weather_stats.set_index("month-day", inplace=True)
    # print(weather_stats.info())
    return weather_stats

In [3]:
stats = get_wx_stats()

In [4]:
stats

,month-day,last_date,record_min_temp,avg_min_temp,avg_max_temp,record_max_temp,stats_count
0,01-01,2020-01-01,-35.6,-15.543796,-3.419708,11.7,137
1,01-02,2020-01-02,-37.2,-15.127206,-2.793382,12.2,136
2,01-03,2019-01-03,-37.2,-14.892593,-3.048148,12.2,135
3,01-04,2020-01-04,-35.6,-15.058824,-3.687500,15.3,136
4,01-05,2020-01-05,-37.8,-15.530147,-4.096324,12.1,136
...,...,...,...,...,...,...,...
361,12-27,2019-12-27,-36.1,-13.981752,-2.229197,19.5,137
362,12-28,2019-12-28,-38.9,-13.921168,-2.927737,16.9,137
363,12-29,2019-12-29,-38.1,-14.408824,-2.900735,16.1,136
364,12-30,2019-12-30,-37.2,-15.527206,-4.697059,10.6,136
365,12-31,2019-12-31,-35.6,-15.825185,-4.302963,13.3,135

In [8]:
stats.reset_index()

,index,month-day,last_date,record_min_temp,avg_min_temp,avg_max_temp,record_max_temp,stats_count
0,0,01-01,2020-01-01,-35.6,-15.543796,-3.419708,11.7,137
1,1,01-02,2020-01-02,-37.2,-15.127206,-2.793382,12.2,136
2,2,01-03,2019-01-03,-37.2,-14.892593,-3.048148,12.2,135
3,3,01-04,2020-01-04,-35.6,-15.058824,-3.687500,15.3,136
4,4,01-05,2020-01-05,-37.8,-15.530147,-4.096324,12.1,136
...,...,...,...,...,...,...,...,...
361,361,12-27,2019-12-27,-36.1,-13.981752,-2.229197,19.5,137
362,362,12-28,2019-12-28,-38.9,-13.921168,-2.927737,16.9,137
363,363,12-29,2019-12-29,-38.1,-14.408824,-2.900735,16.1,136
364,364,12-30,2019-12-30,-37.2,-15.527206,-4.697059,10.6,136
365,365,12-31,2019-12-31,-35.6,-15.825185,-4.302963,13.3,135

In [5]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   month-day        366 non-null    object
 1   last_date        366 non-null    datetime64[ns]
 2   record_min_temp  366 non-null    float64
 3   avg_min_temp     366 non-null    float64
 4   avg_max_temp     366 non-null    float64
 5   record_max_temp  366 non-null    float64
 6   stats_count      366 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 20.1+ KB

In [7]:
stats.to_csv("C:/Users/Jason/Documents/_Projects/2020-10 weather web app/weather_stats - test.csv", index=False)

In [34]:
a = {'a':2, 'b':pd.NaT}
a

{'a': 2, 'b': NaT}

In [50]:
b = {k: a[k] for k in a if a[k] is not pd.NaT}

In [51]:
b

{'a': 2}

In [57]:
a = {'a':2, 'b':None}
a

{'a': 2, 'b': None}

In [58]:
b = {k: a[k] for k in a if a[k] is not np.nan}
b

{'a': 2, 'b': None}

In [55]:
type(np.nan)

float

In [56]:
type(pd.NaT)

pandas._libs.tslibs.nattype.NaTType

In [61]:
x = range(0, 6)
id = ['a', 'a', 'a', 'b', 'b', 'b']
df = pd.DataFrame(zip(id, x), columns = ['id', 'x'])
df.iloc[2, 1] = np.nan
df

  id    x
0  a  0.0
1  a  1.0
2  a  NaN
3  b  3.0
4  b  4.0
5  b  5.0

In [69]:
for entry in df.T.to_dict().values():
#     entry = {k: entry[k] for k in entry if entry[k] is not pd.NaT}
    entry = {k: entry[k] for k in entry if entry[k] is not np.nan}
    print(entry)

{'id': 'a', 'x': 0.0}
{'id': 'a', 'x': 1.0}
{'id': 'a', 'x': nan}
{'id': 'b', 'x': 3.0}
{'id': 'b', 'x': 4.0}
{'id': 'b', 'x': 5.0}

In [89]:
for e in df.T.to_dict().values():
    e = {k: v for k,v in e.items() if not pd.isnull(v) }
    print(e)

{'id': 'a', 'x': 0.0}
{'id': 'a', 'x': 1.0}
{'id': 'a'}
{'id': 'b', 'x': 3.0}
{'id': 'b', 'x': 4.0}
{'id': 'b', 'x': 5.0}

In [88]:
for e in df.T.to_dict().values():
    new = {}
    for k, v in e.items():
        if not pd.isnull(v):
            new[k] = v
    print(new)

{'id': 'a', 'x': 0.0}
{'id': 'a', 'x': 1.0}
{'id': 'a'}
{'id': 'b', 'x': 3.0}
{'id': 'b', 'x': 4.0}
{'id': 'b', 'x': 5.0}