In [18]:
import pandas as pd
import numpy as np

In [19]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [20]:
url_template = "https://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=csv&stationID={station}&Year={year}&Month={month}&timeframe={time_int}&submit=Download+Data"

In [21]:
def download_weather_data(station, year, month=1, daily=True):
    if daily:
        url = url_template.format(station=station, year=year, month=month, time_int=2)
    else:
        url = url_template.format(station=station, year=year, month=month, time_int=1)
        
    weather_data = pd.read_csv(url, index_col='Date/Time', parse_dates=True)
    # replace the degree symbol in the column names
    weather_data.columns = [col.replace('\xb0', '') for col in weather_data.columns]
    return weather_data

In [29]:
def get_all_years():
    df_list = []
    for yr in range(1881, 2013):
        df = download_weather_data(2205, yr)
        df_list.append(df)
    for yr in range(2012, 2021):
        df = download_weather_data(50430, yr)
        df_list.append(df)
    return df_list

In [30]:
df_list = get_all_years()

In [31]:
print("Length of list:", len(df_list))

Length of list: 141

In [94]:
all_weather = pd.concat(df_list)

In [101]:
all_weather.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 51500 entries, 1881-01-01 to 2020-12-31
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Longitude (x)              51500 non-null  float64
 1   Latitude (y)               51500 non-null  float64
 2   Station Name               51500 non-null  object
 3   Climate ID                 51500 non-null  int64
 4   Year                       51500 non-null  int64
 5   Month                      51500 non-null  int64
 6   Day                        51500 non-null  int64
 7   Data Quality               0 non-null      float64
 8   Max Temp (C)               49785 non-null  float64
 9   Max Temp Flag              129 non-null    object
 10  Min Temp (C)               49738 non-null  float64
 11  Min Temp Flag              130 non-null    object
 12  Mean Temp (C)              49731 non-null  float64
 13  Mean Temp Flag             132 non-null    object
 14  Heat Deg Days (C)          49731 non-null  float64
 15  Heat Deg Days Flag         132 non-null    object
 16  Cool Deg Days (C)          49731 non-null  float64
 17  Cool Deg Days Flag         132 non-null    object
 18  Total Rain (mm)            49722 non-null  float64
 19  Total Rain Flag            3303 non-null   object
 20  Total Snow (cm)            49759 non-null  float64
 21  Total Snow Flag            3568 non-null   object
 22  Total Precip (mm)          49784 non-null  float64
 23  Total Precip Flag          5960 non-null   object
 24  Snow on Grnd (cm)          22137 non-null  float64
 25  Snow on Grnd Flag          2281 non-null   object
 26  Dir of Max Gust (10s deg)  16860 non-null  float64
 27  Dir of Max Gust Flag       3132 non-null   object
 28  Spd of Max Gust (km/h)     23657 non-null  object
 29  Spd of Max Gust Flag       2906 non-null   object
dtypes: float64(13), int64(4), object(13)
memory usage: 12.2+ MB

In [109]:
all_yyc_weather = all_weather[['Station Name', 'Year', 'Month', 'Day', 'Min Temp (C)', 'Max Temp (C)', 'Mean Temp (C)']]
all_yyc_weather.dropna(inplace=True)
months = all_yyc_weather.index.month.astype(str)
months = months.map(lambda x: x if len(x) == 2 else '0' + x)
days = all_yyc_weather.index.day.astype(str)
days = days.map(lambda x: x if len(x) == 2 else '0' + x)
all_yyc_weather['month-day'] = months + "-" + days

C:\Users\Jason\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Jason\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [110]:
all_yyc_weather.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 49731 entries, 1881-10-26 to 2020-10-20
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Station Name   49731 non-null  object
 1   Year           49731 non-null  int64
 2   Month          49731 non-null  int64
 3   Day            49731 non-null  int64
 4   Min Temp (C)   49731 non-null  float64
 5   Max Temp (C)   49731 non-null  float64
 6   Mean Temp (C)  49731 non-null  float64
 7   month-day      49731 non-null  object
dtypes: float64(3), int64(3), object(2)
memory usage: 3.4+ MB

In [121]:
all_yyc_weather.head()

,Station Name,Year,Month,Day,Min Temp (C),Max Temp (C),Mean Temp (C),month-day
Date/Time,,,,,,,,
1881-10-26,CALGARY INT'L A,1881,10,26,-17.8,11.7,-3.1,10-26
1881-10-27,CALGARY INT'L A,1881,10,27,-3.9,11.7,3.9,10-27
1881-10-28,CALGARY INT'L A,1881,10,28,-4.4,11.1,3.4,10-28
1881-10-29,CALGARY INT'L A,1881,10,29,-4.4,10.6,3.1,10-29
1881-10-30,CALGARY INT'L A,1881,10,30,-5.0,10.6,2.8,10-30

In [201]:
all_yyc_weather.tail()

,Station Name,Year,Month,Day,Min Temp (C),Max Temp (C),Mean Temp (C),month-day
Date/Time,,,,,,,,
2020-10-16,CALGARY INTL A,2020,10,16,-3.8,3.9,0.1,10-16
2020-10-17,CALGARY INTL A,2020,10,17,-8.2,-3.3,-5.8,10-17
2020-10-18,CALGARY INTL A,2020,10,18,-8.8,-6.3,-7.6,10-18
2020-10-19,CALGARY INTL A,2020,10,19,-8.0,-0.5,-4.3,10-19
2020-10-20,CALGARY INTL A,2020,10,20,-4.6,1.9,-1.4,10-20

In [112]:
all_yyc_weather.to_csv("C:/Users/Jason/Documents/_Projects/2020-10 yyc_weather web app/all_yyc_weather.csv")

## Build the weather_stats table

In [244]:
weather_stats = pd.DataFrame()
all_yyc_weather_reduced = all_yyc_weather.drop_duplicates(subset=['month-day'], keep='last')['month-day']
weather_stats['month-day'] = all_yyc_weather_reduced
weather_stats['last_date'] = all_yyc_weather_reduced.index
weather_stats.set_index(['month-day'], inplace=True)
weather_stats.sort_index(inplace=True)
weather_stats

           last_date
month-day
01-01     2020-01-01
01-02     2020-01-02
01-03     2019-01-03
01-04     2020-01-04
01-05     2020-01-05
...              ...
12-27     2019-12-27
12-28     2019-12-28
12-29     2019-12-29
12-30     2019-12-30
12-31     2019-12-31

[366 rows x 1 columns]

In [245]:
groupby = all_yyc_weather.groupby('month-day')[f'Min Temp (C)']
weather_stats[f'record_Min_temp'] = groupby.min()
weather_stats[f'avg_Min_temp'] = groupby.mean()

groupby = all_yyc_weather.groupby('month-day')[f'Max Temp (C)']
weather_stats[f'avg_Max_temp'] = groupby.mean()
weather_stats[f'record_Max_temp'] = groupby.max()

weather_stats[f'stats_count'] = groupby.count()

In [246]:
weather_stats.columns = [col.lower() for col in weather_stats.columns]

In [247]:
weather_stats

,last_date,record_min_temp,avg_min_temp,avg_max_temp,record_max_temp,stats_count
month-day,,,,,,
01-01,2020-01-01,-35.6,-15.543796,-3.419708,11.7,137
01-02,2020-01-02,-37.2,-15.127206,-2.793382,12.2,136
01-03,2019-01-03,-37.2,-14.892593,-3.048148,12.2,135
01-04,2020-01-04,-35.6,-15.058824,-3.687500,15.3,136
01-05,2020-01-05,-37.8,-15.530147,-4.096324,12.1,136
...,...,...,...,...,...,...
12-27,2019-12-27,-36.1,-13.981752,-2.229197,19.5,137
12-28,2019-12-28,-38.9,-13.921168,-2.927737,16.9,137
12-29,2019-12-29,-38.1,-14.408824,-2.900735,16.1,136
12-30,2019-12-30,-37.2,-15.527206,-4.697059,10.6,136
12-31,2019-12-31,-35.6,-15.825185,-4.302963,13.3,135

In [249]:
weather_stats.info()

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 01-01 to 12-31
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   last_date        366 non-null    datetime64[ns]
 1   record_min_temp  366 non-null    float64
 2   avg_min_temp     366 non-null    float64
 3   avg_max_temp     366 non-null    float64
 4   record_max_temp  366 non-null    float64
 5   stats_count      366 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 20.0+ KB

In [248]:
weather_stats.to_csv("C:/Users/Jason/Documents/_Projects/2020-10 yyc_weather web app/weather_stats.csv")